body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #74ebd5 0%, #ACB6E5 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 500px;
}

h1 {
    text-align: center;
    color: black;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px RGB(119, 136, 153);
}

form label, form select {
    display: block;
    margin-bottom: 10px;
}

form select, form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

form button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-weight: bold;
    border: none;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #0056b3;
}

.hasil {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #e9ecef;
}

.awal {
    margin-bottom: 15px;
    font-size: 14px;
    background-color: white;
    padding: 9px;
    border-radius: 5px;
    outline: 1px solid lightgray;
}

.peta {
    display: block;
    margin: 0 auto 20px auto;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h3 {
    text-align: center;
}
